/* it is totally okay for this to be completely empty right now, add what you need */
html, body, #map {
        height: 100%;
        margin: 0;
        padding: 0;
      }

a {
    text-decoration: none;
}

#title {
    position: absolute;
    left: 50px;
    z-index: 9999;
    font-family: serif;
    font-size: 36px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    border-style: none;
    border-radius: 5px;
}

#logo {
    position:absolute;
    z-index:9999;
    left: 10px;
    bottom: 10px;
    background-color: rgba(255,255,255,0.4);
    padding: 6px;
    border-radius: 4px;
}
