/* it is totally okay for this to be completely empty right now, add what you need */
html, body, #mapid {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#logo {
    position:absolute;
    z-index:1;
    top:5px;
    right:5px;}
